h1 {
      text-align: center;
    }
    
    #table-list {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
    }
    
    #table-list th,
    #table-list td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: center;
    }
    
    #table-list th {
      background-color: #f2f2f2;
    }
    
    .table-button {
      width: 100%;
      padding: 8px;
      border: none;
      cursor: pointer;
    }
    
    .table-button.available {
      background-color: #00cc00;
    }
    
    .table-button.occupied {
      background-color: #ff0000;
      cursor: not-allowed;
    }
